/*
  Coding from Life – Sketch 2: fluid layout

  For sketch 2 you'll be positioning elements relative to a fluid container. This
  means you'll need to use percentages when positioning and sizingelements within
  your frame.
*/


body {
  background-color: black;
}

.frame {
  width: 95vw;
  height: 57vw;
  background: white;
  margin: 2.5vw auto;
  position: relative;
}

/* Your CSS goes here */
.table{
  width: 100%;
  height:45%;
  position: absolute;
  top: 0%;
  background-color: #cccccc;

}
.cap{
  position: absolute;
  left: 14.3%;
  bottom: 59%;
  border-bottom: 8.5vw solid black;
  border-left: 2vw solid transparent;
  border-right: 2vw solid transparent;
  height:0;
  width: 24%;
}

.potbody{
  position: absolute;
  left: 14%;
  bottom: 31%;
  background-color:#654321 ;
  width: 29%;
  height: 45%;
  border-radius: 40%;
  box-shadow: 0vw 1vw gray;
}

.smile .righteye{
  position: absolute;
  top: 35%;  
  left:30%;
  width: 0;
  height: 0;
  border-top: 5vw solid transparent;
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
  border-bottom: 4vw solid transparent;
  border-left: 6vw solid black;
}

.smile .lefteye{
  position: absolute;
  top: 35%;  
  left:20%;
  width: 0;
  height: 0;
  border-top: 5vw solid transparent;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  border-bottom: 4vw solid transparent;
  border-left: 6vw solid black;
}

.smile .mouthleft{
  width: 12%;
  height: 10%;
  position: absolute;
  bottom: 38%;
  left: 16.5%;
  border-bottom: 5vw solid black;
  border-radius: 0 0 0 100%;
}

.smile .mouthright{
  width: 12%;
  height: 10%;
  position: absolute;
  bottom: 38%;
  left: 28.5%;
  border-bottom: 5vw solid black;
  border-radius: 0 0 100% 0;
}



.dot{
  width: 3%;
  height: 5%;
  border-radius: 50%;
  position: absolute;
  left: 27%;
  top: 20%;
  background-color: black;
}

.capline{
  width:25%;
  height: 5%;
  border-radius: 100%;
  position: absolute;
  left: 16%;
  top: 28%;
  background-color: black;
}

.candle{
  width:8%;
  height: 28%;
  border-radius: 10%;
  position: absolute;
  left: 60%;
  top: 25%;
  background-color: gold;
  box-shadow: 0vw 0.5vw 0vw gray;
}


.candleline{
  width:2%;
  height: 33%;
  border-radius: 10%;
  position: absolute;
  left: 63%;
  top: 45%;
  background-color: gold;
}

.leftdark{
  width:1%;
  height: 28%;
  border-radius: 10%;
  position: absolute;
  left: 60%;
  top: 25%;
  background-color: #654321;
}

.leftlight{
  width:1%;
  height: 28%;
  border-radius: 10%;
  position: absolute;
  left: 60.5%;
  top: 25%;
  background-color: white;
}

.centerdark{
  width:3%;
  height: 28%;
  border-radius: 10%;
  position: absolute;
  left: 63%;
  top: 25%;
  background-color: #654321;
}

.rightdark{
  width:0.5%;
  height: 28%;
  border-radius: 10%;
  position: absolute;
  left: 67.5%;
  top: 25%;
  background-color: #654321;
}

.rightlight{
  width: 0.5%;
  height: 28%;
  border-radius: 10%;
  position: absolute;
  left: 66.5%;
  top: 25%;
  background-color: white;
}

.candlelinedark{
  width:0.5%;
  height: 25%;
  border-radius: 10%;
  position: absolute;
  left: 63%;
  top: 53%;
  background-color: yellow;
}

.candlewhite{
  width:6%;
  height: 18%;
  border-radius: 20%;
  position: absolute;
  left: 61%;
  top: 8%;
  background-color: ghostwhite;
  box-shadow: 0vw 0.5vw 0vw gray;
}

.candledark{
  width:2%;
  height: 18%;
  border-radius: 20%;
  position: absolute;
  left: 62%;
  top: 8%;
  background-color: white;
}

.candlebottom{
  width:10.5%;
  height: 10%;
  border-radius: 35%;
  position: absolute;
  left: 59%;
  bottom: 16%;
  background-color: yellow;
  box-shadow: 0vw 1vw 0vw gray;
}

 
 
 .ribbon1{
  width:55% ;
  height:5% ;
  background-color: red;
  position: absolute;
  bottom: 30%;
  right: 0%;
}

.ribbon2{
  width:25% ;
  height:5% ;
  background-color: red;
  position: absolute;
  bottom: 22%;
  right: 50%;
  box-shadow: 0vw 0.6vw 0vw gray;
}

.ribbonshadow{
  position: absolute;
  bottom: 27%;
  right: 50%;
  width: 0;
  height: 0;
  border-bottom: 4.6vw solid darkred;
  border-right: 4.7vw solid transparent;
}

.birdhead{
  width: 8%;
  height: 12%;
  border-radius: 50%;
  background-color: #654321;
  position: absolute;
  left: 5%;
  bottom: 25%;
  transform: rotate(-45deg);
}

.birdbody{
  width: 15%;
  height: 15%;
  border-radius: 46%;
  background-color: #654321;
  position: absolute;
  left: -5%;
  bottom: 15%;
  box-shadow: 0vw 1vw 0vw gray;
}

.birdpeak{
  width: 0;
  height: 0;
  border-top: 2vw solid transparent;
  border-left: 4vw solid #654321;
  border-bottom: 2vw solid transparent;
  position: absolute;
  bottom: 33.5%;
  left: 11%;
  transform: rotate(-40deg);
}

.birdeye{
  width: 1%;
  height: 2%;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: 9%;
  bottom: 30%;
}

.vase{
  width:10%;
  height: 30%;
  border-radius: 20%;
  position: absolute;
  left: 80%;
  top: 30%;
  background-color: whitesmoke;
  box-shadow: 0vw 0.4vw 0vw gray;
}

.vaserightline{
  width: 1%;
  height: 30%;
  background-color: white;
  position: absolute;
  right: 12%;
  top: 30%;
}
.vasecenterline{
  width: 0.8%;
  height: 30%;
  background-color: white;
  position: absolute;
  right: 14.6%;
  top: 30%;
}
.vaseleftline{
  width: 1%;
  height: 30%;
  background-color: white;
  position: absolute;
  right: 17%;
  top: 30%;
}

.green1{
  width: 1%;
  height: 20%;
  background-color: seagreen;
  position: absolute;
  right: 16.5%;
  top: 20%;
  transform: rotate(-10deg);
}

.green2{
  width: 1%;
  height: 15%;
  background-color: seagreen;
  position: absolute;
  right: 14%;
  top: 15%;
  transform: rotate(7deg);
}

.green3{
  width: 1%;
  height: 14%;
  background-color: seagreen;
  position: absolute;
  right: 12%;
  top: 18%;
  transform: rotate(5deg);
}

.reddot1{
  width: 3%;
  height: 5%;
  border-radius: 50%;
  background-color: orangered;
  position: absolute;
  top: 15.5%;
  right: 17%;
}

.reddot2{
  width: 2%;
  height: 4%;
  border-radius: 50%;
  background-color: orangered;
  position: absolute;
  top: 16%;
  right: 11.1%;
}

.reddot3{
  width: 3%;
  height: 6%;
  border-radius: 50%;
  background-color: orangered;
  position: absolute;
  top: 9.5%;
  right: 12%;
  transform: rotate(15deg);
}

.melon{
  width: 15%;
  height: 15%;
  border-radius: 50%;
  background-color:#F9F898;
  position: absolute;
  top: 45%;
  right: 12%;
  transform: rotate(-8deg);
  box-shadow: 0vw 0.2vw 0vw gray;
}

.melondot1{
  width: 1%;
  height: 2%;
  border-radius: 50%;
  background-color:#73722e;
  position: absolute;
  top: 55.5%;
  right: 21%;
  transform: rotate(-8deg);
}

.melondot2{
  width: 1%;
  height: 1.5%;
  border-radius: 50%;
  background-color:#939346;
  position: absolute;
  top: 53%;
  right: 24.5%;
  transform: rotate(-8deg);
}

.melondot3{
  width: 1%;
  height: 1%;
  border-radius: 50%;
  background-color:#BAB862;
  position: absolute;
  top: 50.5%;
  right: 21%;
  transform: rotate(-8deg);
}


