body{
margin-top: 2%;
margin-left: 5%;
cursor: url('some-img.ico'), default; 
background-color: white;
}

.content{
  display: flex;
    justify-content: space-between;
}
.left{
  flex: 0 0 20%;
}
.right{
  flex: 1;
}

.header{
margin-bottom: 2%;
text-align: left;
font-family: 'DM Mono', monospace;
font-weight: 400;
font-size: 14.5px;
margin-top: 10%;
}

.finish{
  font-family: 'DM Mono', monospace;
  font-size: 14px;
}

img{
height: 25%;
width: 85%;
}

iframe{
height: 100%;
width: 100%;
}

.menu{
padding-top: 2%;
text-align: left;
ont-family: 'DM Mono', monospace;
font-weight: 500;
}

a{
color: white;
text-decoration: none;
}

.block{
border: solid black 1px; 
background-color: black;
border-radius: 5px;
text-align: center;
margin-bottom: 5%;
margin-right: 20%;
font-family: 'DM Mono', monospace;
font-weight: 300;
}

a:hover {
  color: white;
  font-size: 15px;
  animation: bigger 1s infinite;
}

.block:hover{
  cursor: pointer;
  background-color: #39FF14;
  animation: bigger 1s infinite;
}


@keyframes bigger{
  0%{
transform: scale(1.5);
  }
  50%{
transform: scale(2);
  }
  100%{
transform: scale(1.5); 
  }
}
@keyframes turn{
  0%{
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


@media (max-width: 1200px) {
  body {
    background-color: black;
  }
  .header{
    padding-left: 5%;
    color: white;
    font-size: 12px;
  }
  .menu{
    font-weight: 500;
    color: white;
}
  .block{
    font-size: 10px;
    text-align: left;
}
  .block:hover{
    background-color: transparent;
    animation: turn 2s infinite;
  }
  img{
    filter: invert(100%);
  }
.finish{
    color: white;
    font-size: 2px;
  }
}


@media (max-height: 650px) {
  body {
    background-color: #39FF14;
  }

  .header{
    padding-left: 1%;
    color: black;
    font-size: 12px;
  }
  .menu{
    font-weight: 500;
    color:  black;
}
  .block{
    font-size: 10px;
    text-align: center;
}

.finish{
    color: black;
  }
}




