body{
	margin-left: 5%;
	margin-right: 5%;
}


.h1{
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	font-size: 150%;
	padding-top: 5%;
	padding-bottom: 3%;
}


.square1{
	font-family: 'Press Start 2P', cursive;
	text-align: right;

}

.q1{
	font-family: 'Press Start 2P', cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 25px;
	text-align: right;

}

.square2{
	background-color:black;
	color:white;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 3%;
	max-width: 1500px;
	margin:  0 auto;

}
.rn{
	font-family: 'Press Start 2P', cursive;
	
}

.r{
	font-family: prestige-elite-std, monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 25px;

}
@media(max-width: 500px){
	.q1{
		font-size: 90%;
	}
	.r{
		font-size: 90%;
	}
	.options{
		font-size: 20%;
	}
}